.block-contact {
  background-image: url("../../images/contact-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.block-title h2 {
  margin-bottom: 0;
}

.content {
  max-width: 661px;
  margin-left: auto;
  margin-right: auto;
}
.content p {
  padding-bottom: 18px;
  font-size: 12px;
}

.content a {
  color: var(--white);
  display: inline-block; /* or block */
  margin-bottom: 30px;
  font-size: 20px;
}

.block-title.type-white h2 {
  color: var(--white);
}

.btn.btn-primary {
  font-size: 16px;
}

@media (min-width: 1024px) {
  .btn.btn-primary {
    font-size: 16px;
  }

  .content a {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .content p {
    font-size: 16px;
    padding-bottom: 24px;
  }
}
