.top-section {
  background-image: url("../../images/header-bg.png");
}

.find-header {
  padding: 252px 0px;
  text-align: center;
}
.find-header h1,
p {
  color: var(--white);
}

.find-flex-container {
  display: flex;
  flex-direction: column;
  align-item: center;
}
.find-flex-item {
  margin-right: 20px;
  flex-direction: column;
}
.find-button button {
  width: 100%;
}

@media (min-width: 1024px) {
  .find-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .find-header p {
    font-size: 1.375;
  }
}
