.block-contact {
  background-color: var(--black);
  padding: 100px 0;
  text-align: center;
}

.block-contact .content {
  color: var(--white);
  max-width: 661px;
  margin-left: auto;
  margin-right: auto;
}

.block-content {
  padding: 100px 0;
}

/* services section styling  */

.services-content h2 {
  padding-bottom: 30px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Card Count CSS Start */

.col-card-4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

@media (min-width: 640px) {
  .col-card-4 {
    justify-content: space-between;
  }
}

/* Card Count CSS End */

/* Our Recent Post Css Start */

.block-contact {
  background-color: var(--black);
  padding: 100px 0;
  text-align: center;
}

.block-contact .content {
  color: var(--white);
  max-width: 661px;
  margin-left: auto;
  margin-right: auto;
}

/* Header section */
.top-section {
  background-image: url("../../images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.find-header {
  padding: 252px 0px;
  text-align: center;
}
.find-header h1,
p {
  color: var(--white);
}
.find-header p {
  color: var(--white);
  margin-bottom: 42px;
}
.find-flex-container {
  display: flex;
  flex-direction: column;
  align-item: center;
  margin-bottom: 50px;
}
.find-flex-item {
  flex-direction: column;
  padding-bottom: 20px;
}
input::placeholder {
  font-size: 1rem;
}
.find-flex-item input {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--white);
}
.find-flex-sub-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--white);
}
.find-button button {
  width: 100%;
}

@media (min-width: 1024px) {
  .find-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .find-header p {
    font-size: 1.375rem;
  }

  .find-flex-item input {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 140px;
  }
}

/* Contact */
.block-contact {
  background-image: url("../../images/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.block-title h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.content {
  max-width: 661px;
  margin-left: auto;
  margin-right: auto;
}
.content p {
  padding-bottom: 18px;
  font-size: 12px;
}

.content a {
  color: var(--white);
  display: inline-block; /* or block */
  margin-bottom: 30px;
  font-size: 20px;
}

.block-title.type-white h2 {
  color: var(--white);
}

.btn.btn-primary {
  font-size: 16px;
}

@media (min-width: 1024px) {
  .btn.btn-primary {
    font-size: 16px;
  }

  .content a {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .content p {
    font-size: 16px;
    padding-bottom: 24px;
  }
}

.col-card-3 {
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 892px) {
  .col-card-3 {
    flex-wrap: nowrap;
  }
}

/* Our Recent Post Css Start */


/* Rent Section Css Start */

.col-rent-4{
    background-color: var(--gray-100);
}




/* Rent Section Css End */
