* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}


body {
 font-family: var(--font-base);
 font-size: 1rem;
 line-height: 1.46;
 color: var(--gray-500);
 font-weight: 400;
}

p {
 margin-bottom: 1rem;
}

p:last-of-type {
 margin-bottom: 0;
}

img{
 vertical-align: middle;
 width: auto;
 height: auto;
 max-width: 100%;
}


/* container  */
.container {
 max-width: 1332px;
 margin: 0 auto;
 padding: 0 16px;
}


/* global classes */

.w-full {
 width: 100% !important;
}

.text-center {
 text-align: center;
}

.text-right {
 text-align: right;
}

hr {
 margin: 10px 0;
}