.block-title {
 margin-bottom: 20px;
}

.block-title h2 {
 margin-bottom: 0;
}

.block-title.type-white h2 {
 color: var(--white);
}

@media (min-width: 1024px) {

 .block-title {
  margin-bottom: 30px;
 }
}