/* card count */

.card-count {
    max-width: 310px;
}

.card-count h2 {
    color: var(--gray);
    font-style: italic;
    line-height: 100%;
}


.card-count span {
    letter-spacing: 2px;
    color: var(--gray-700);
    text-transform: uppercase;
}

.card-count p {
    line-height: 32px;
    color: var(--gray-500);
}



/* card service */

.card-service {
    max-width: 420px;
    overflow: hidden;
    text-align: center;
}

.card-service figure {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.card-service figure img {
    width: 100%;
}

.card-service h3 {
    text-transform: uppercase;

}

/* card info*/
.card-container{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
  justify-content: center;
}
.card-info{
    max-width:310px;
    height:332px;
    padding: 1rem;
  box-sizing: border-box;   
}
.card-info figure img {
  width: 310px;
  height: 210px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}
.card-content {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  
}
.card-content span {
    margin-top: 4px;
    font-size: 12px;
    display: inline-block;
}

.btn-wrap{
  margin-top:16px;
}
.card-type{
    display:flex;
    gap:12px;
    justify-content:center;
     margin-bottom: 20px;
     margin-top:20px;
}
.card-type-component{
    gap:10;
    border:1px solid var(--black);
    padding:10px 20px;
    font-size: 14px;
    font-weight: 500;
}
.card-type-component.active {
  background-color: var(--black);
  color: var(--white);
  border-color: transparent;
}

/* card pricing  */
.card-pricing {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-100);
    padding: 60px;
    border-radius: 10px;
    border: 1px solid var(--gray-300);
}

.category {
    text-transform: uppercase;
}

.category-price {
    text-align: center;
    margin-bottom: 99px;
}

.category-price ul {
    margin-top: 30px;
}

.category-price ul li {
    list-style: none;
}

.btn-wrap {
    display: flex;
    justify-content: center;
}

.card-pricing:hover .category {
    color: var(--primary);
}

.card-pricing:hover .btn.btn-secondary {
    background-color: var(--primary);
}


/* card articles */

.card-articles {
    width: 100%;
}

.card-articles figure {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.card-articles figure img {
    width: 100%;
}

.card-body span {
    margin-top: 4px;
    font-size: 12px;
    display: inline-block;
}

.card-body h3 {
    text-transform: uppercase;
    margin-top: 6px;
}

/*Renting process section*/
.card-rent {
    padding: 120px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.card-process span {
    letter-spacing: 2px;
    color: var(--gray-700);
    text-transform: uppercase;
}

.card-process p {
    line-height: 32px;
    color: var(--gray-500);
}

@media (min-width: 640px) {
    .card-rent {
        justify-content: space-between;
        gap: 0;
    }
}

.card-process {
    height: 110px;
    width: 310px;
    box-sizing: border-box;

}

.card-img img {
    margin-bottom: 14px;
    width: 50px;
    height: 50px;
}

@media (min-width: 640px) {
    .card-body span {
        font-size: 16px;
    }
}

@media (min-width: 892px) {
    .card-articles {
        max-width: 420px;
    }
}